.textField{
    width: 100%;
}
.divColeccion{
    background-color: #5B5B5B;
    width: 100%;
    padding: 20px;
}
.tituloLetra{
    margin-left: 5%;
    text-transform: uppercase;
    margin-bottom: .5em;
    color: #3e3e3e;
    clear: both; 
}
.nombreLetra{
    margin-left: 5%;
    line-height: 1.1;
    font-size: 1;
    color: #757676;
    clear: both;
}
.contenidoTextArea{
    line-height: 1.1;
    font-size: 1;
    color: #757676;
    clear: both;
    text-align:justify;
}
.margenMenu{
    padding-right: 5px;
	padding-left: 5px;
	width: 90%;
}
.margenes{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 10px;
}
.tamañoDialog {
    width: 75%;
    margin: auto;
    margin-top: 5px;
    border-radius: 15px;
    background-color: #EDEDED;
}
.cajaDocumentacion{
  margin-top: 5px;
  background-color: #E5E5E5;
  width: 80%;
  vertical-align: middle;
  margin-left: 5%;
}
.descriptionTextArea {
    padding: .5em;
}
.modalContenido{
    
    height: 20%;
    margin: auto;
    position:E5E5E5 relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 15px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5)
}
.imagen{
    vertical-align: middle;
    transition: opacity 0.5s ease-in-out;
}

#pTraje:hover{
    content: url(https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/dustin1a.jpg?alt=media&token=03405e64-24a8-4a69-b2c7-3b85e2665bd8);
}
