.textField{
    width: 100%;
}
.divColeccion{
    background-color: #5B5B5B;
    width: 100%;
    padding: 20px;
}
.tituloLetra{
    text-transform: uppercase;
    margin-bottom: .5em;
    color: #3e3e3e;
    clear: both; 
}
.nombreLetra{
    line-height: 1.1;
    font-size: 1;
    color: #757676;
    clear: both;
}

.margenMenu{
    padding-right: 5px;
	padding-left: 5px;
	width: 90%;
}
.margenes{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 10px;
}
.tamañoDialog {
    width: 65%;
    height: 65%;
    margin: auto;
    background-color: #EDEDED;
}
.textArea{
    width: 100%;
    resize: none;
    border: 1px dotted #000099;
}
.cajaDocumentacion{
  width: 80%;
  border: 1px solid black;
}
.descriptionTextArea {
    padding: .5em;
}
.contenidoTextArea{
    
}