.textField{
    width: 100%;
}
.menu{
    width: 97%;
    margin: auto;
}
.botonCarro{
    width: 90%;
    height: auto;
    background: #282828;
    color: #ffffff;
    border-color: #ffffff;
    padding:5px;
    font-weight: bold;
    margin: auto;
}
.botonCarro:hover{
    width: 90%;
    height: auto;
    background: #fff;
    color: #282828;
    border-color: #282828;
    padding:5px;
    font-weight: bold;
    margin: auto;
}
.botonFavorito{
    width: 10%;
    height: auto;
    background: #fff;
    color: #282828;
    border-color: #282828;
    padding:5px;
    font-weight: bold;
    margin-left: -5px;
}
.botonFavorito:hover{
    width: 10%;
    height: auto;
    background: #282828;
    color: #ffffff;
    border-color: #ffffff;
    padding:5px;
    font-weight: bold;
    margin-left: -5px;
}
.divColeccion{
    background-color: #282828;
    width: 100%;
    font-weight: bold;
    font-family:serif;
    padding: 15px;
    margin-bottom: .5em;
    color: #FFFFFF;
    clear: both; 
    text-align: center;
}
.tituloLetra{
    margin-left: 5%;
    text-transform: uppercase;
    margin-bottom: .5em;
    color: #3e3e3e;
    clear: both; 
}
.carousel-inner{
   background: #D8D8D8;    
    width: 516px;
    height: 640px;
}
.nombreLetra{
    margin-left: 5%;
    line-height: 1.1;
    font-size: 1;
    color: #757676;
    clear: both;
}
.contenidoTextArea{
    line-height: 1.1;
    font-size: 1;
    color: #757676;
    clear: both;
    text-align:justify;
}
.margenMenu{
    padding-right: 5px;
	padding-left: 5px;
	width: 90%;
}
.margenes{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 10px;
}
.tamañoDialog {
    width: 75%;
    margin: auto;
    margin-top: 5px;
    border-radius: 15px;
    background-color: #EDEDED;
}
.cajaDocumentacion{
  background-color: #fff;
  width: 100%;
  margin-top: 0px;
  vertical-align: middle;
  margin-left: 5%;
}
.cajaDocumentacion2{
  width: 100%;
  margin-top: 5px;
  vertical-align: middle;
  margin-left: 5%;
}
.descriptionTextArea {
    padding: .5em;
}
.modalContenido{
    
    height: 20%;
    margin: auto;
    position:E5E5E5 relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 15px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5)
}
.imagen{
    vertical-align: middle;
    transition: opacity 0.5s ease-in-out;
}
.imagen:hover {
    opacity: 0.5;
}
.contenedorPie {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
  background: #282828;
    
}
.letraFooter{
    color:white;  
}
#pTraje:hover{
    content: url(https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/Trajes%20de%20Novio%2FdustinEspaldaG.jpg?alt=media&token=2beb5009-faaa-4f38-99cc-976dce565118);
}
#pTraje2:hover{
    content: url( https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/Trajes%20de%20Novio%2FPalEspaldaG.jpg?alt=media&token=4249bf38-14dd-4ea8-97a7-377128695620);
}
#pTraje3:hover{
    content: url(https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/Trajes%20de%20Novio%2FRobertoEspaldaG.jpg?alt=media&token=5d3b7eb6-b4f4-4ecc-ae45-eec0bc6ccae6);
}

#pTraje4:hover{
    content: url(https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/Trajes%20de%20Novio%2FformulaEspaldaG.jpg?alt=media&token=7de2b7f8-8643-4b4f-b9bd-ea42138b8a7c); 
}

#pTraje5:hover{
    content: url(https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/Trajes%20de%20Novio%2FTommyEspaldaG.jpg?alt=media&token=a6175fb3-ef2e-46d9-8c6d-85e75d050c80);
}

#pTraje6:hover{
    content: url(https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/Trajes%20de%20Novio%2FeasyEspaldaG.jpg?alt=media&token=94d6c41b-ccfa-4379-a8d2-227a41c76291); 
}

#pTraje7:hover{
    content: url(https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/Trajes%20de%20Novio%2FEmilioEspaldaG.jpg?alt=media&token=49b4d205-cdf7-4e01-97f3-74bd2599b1b4); 
}
#pTraje8:hover{
    content: url(https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/Trajes%20de%20Novio%2FDustin%20EspaldaG.jpg?alt=media&token=de95dfb4-4b6a-4def-8650-133acc85628a);
}