.carousel-inner{
   background: #D8D8D8;  
    
}

.textField{
    width: 100%;
}

.divColeccion{
    background-color: #5B5B5B;
    width: 100%;
    padding: 20px;
}
.tituloLetra{
    margin-left: 5%;
    text-transform: uppercase;
    margin-bottom: .5em;
    color: #3e3e3e;
    clear: both; 
}
.nombreLetra{
    line-height: 1.1;
    font-size: 1;
    color: #757676;
    clear: both;
}
.contenidoTextArea{
    line-height: 1.1;
    font-size: 1;
    color: #757676;
    clear: both;
    text-align:justify;
}

.margenMenu{
    padding-right: 5px;
	padding-left: 5px;
	width: 90%;
}
.margenes{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 10px;
}
.tamañoDialog {
    width: 75%;
    margin: auto;
    margin-top: 5px;
    border-radius: 15px;
    background-color: #EDEDED;
}
.cajaDocumentacion{
  margin-top: 5px;
  background-color: #E5E5E5;
  width: 80%;
  vertical-align: middle;
  margin-left: 5%;
}
.descriptionTextArea {
    padding: .5em;
}
.modalContenido{
    
    height: 70%;
    margin: auto;
    position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 15px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5)
}
.imagen{
    vertical-align: middle;
    transition: opacity 0.5s ease-in-out;
}
.contenedorPie {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
  background: #5B5B5B;
    
}
.letraFooter{
    color:white;
    
}

#pTraje1:hover{
    content: url(https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/Trajes%20de%20Novio%2Fdustinb.jpg?alt=media&token=b1e8ea6f-ec71-46e8-ac20-9142e539aab0);
}
#pTraje2:hover{
    content: url(https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/Trajes%20de%20Novio%2Fazulb.jpg?alt=media&token=5bbfeb77-a9ec-427e-a691-8ae0a0c9be9a);
}
#pTraje3:hover{
    content: url(https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/Trajes%20de%20Novio%2Feasy2.jpg?alt=media&token=140da5d0-40e7-4168-b6da-dc97be4baa58);
}

#pTraje4:hover{
    content: url(https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/Trajes%20de%20Novio%2Femidio2.jpg?alt=media&token=88362d38-43e2-4784-8bb9-78ea546c765a);
}

#pTraje5:hover{
    content: url(https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/Trajes%20de%20Novio%2Fpal2.jpg?alt=media&token=add135b9-f305-4d74-beac-638fe94a9a18);
}

#pTraje6:hover{
    content: url(https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/Trajes%20de%20Novio%2Froberto2.jpg?alt=media&token=d8785205-baf1-45ff-bec8-df021828cca7);
}

#pTraje7:hover{
    content: url(https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/Trajes%20de%20Novio%2Fformula2.jpg?alt=media&token=5d7a7ff4-5961-4bd1-90c2-b40658c0a670);
}
#pTraje8:hover{
    content: url(https://firebasestorage.googleapis.com/v0/b/proyectoeventos-53630.appspot.com/o/Trajes%20de%20Novio%2Ftomy2.jpg?alt=media&token=fbad0251-40c8-4f92-a107-640b4115ff40);
}
*/
